default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/john-hen/Flake8-pyproject
    rev: 1.0.0
    hooks:
      - id: Flake8-pyproject
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.29.3
    hooks:
      - id: commitizen
        stages: [commit-msg]
