[project]
license = {text = "MIT"}
authors = [
    {name = "betaboon", email = "betaboon@0x80.ninja"},
]
name = "testcontainers-on-whales"
description = "A library that provides lightweight, throwaway instances of common databases, Selenium web browsers, or anything else that can run in a container."
readme = "README.md"
keywords = ["testing", "containers", "podman", "docker", "test automation"]
classifiers = [
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dynamic = ["version"]
requires-python = ">=3.7"
dependencies = []

[project.optional-dependencies]

[tool.pdm.version]
source = "file"
path = "testcontainers_on_whales/__init__.py"

[tool.pdm.scripts]
install-git-hooks = "pre-commit install"
lint = "pre-commit run --all-files"

[tool.pdm.dev-dependencies]
dev = [
    "pre-commit>=2.20.0",
    "commitizen>=2.29.3",
]

[tool.black]
line-length = 88

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"
