[project]
license = {text = "MIT"}
authors = [
    {name = "betaboon", email = "betaboon@0x80.ninja"},
]
name = "testcontainers-on-whales"
description = "A library that provides lightweight, throwaway instances of common databases, Selenium web browsers, or anything else that can run in a container."
readme = "README.md"
keywords = ["testing", "containers", "podman", "docker", "test automation"]
classifiers = [
    "Topic :: Software Development :: Build Tools",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dynamic = ["version"]
requires-python = ">=3.7"
dependencies = [
    "python-on-whales @ git+https://github.com/betaboon/python-on-whales@c685880fdabe25a5c71b94fca68a5ed69d4e1aa7",
]

[project.urls]
repository = "https://github.com/betaboon/testcontainers-on-whales"
changelog = "https://github.com/betaboon/testcontainers-on-whales/releases"

[project.optional-dependencies]
nginx = [
    "requests>=2.28.1",
]
rabbitmq = [
    "pika>=1.3.0",
]
redis = [
    "redis>=4.3.4",
]

[tool.pdm.dev-dependencies]
dev = [
    "pre-commit>=2.20.0",
    "gitlint>=0.17.0",
    "python-semantic-release @ git+https://github.com/betaboon/python-semantic-release.git@85eae44b00ed01e5fe531403999c730eb4fa58fa",
]
test = [
    "pytest>=7.1.2",
]

[tool.pdm.scripts]
install-git-hooks = "pre-commit install --install-hooks"
lint = "pre-commit run --all-files"
test = "pytest"

[tool.pdm.scripts.ci-lint]
cmd = [
  "pre-commit", "run",
  "--show-diff-on-failure",
  "--from-ref", "$FROM_REF",
  "--to-ref", "$TO_REF",
]

[tool.pdm.scripts.ci-commit-lint]
cmd = [
  "gitlint",
  "--contrib", "contrib-title-conventional-commits",
  "--ignore", "body-is-missing",
  "--commits", "$FROM_REF..$TO_REF",
]

[tool.pdm.scripts.ci-version]
cmd = "semantic-release print-version --next"

[tool.pdm.scripts.ci-changelog]
cmd = "semantic-release changelog --unreleased"

[tool.pdm.version]
source = "scm"
write_to = "testcontainers_on_whales/__version__.py"
write_template = "__version __ = '{}'"

[tool.semantic_release]
branch = "main"
version_source = "tag_only"
version_pattern = "d+.d+.d+"
tag_format = "{version}"

[tool.black]
line-length = 88

[tool.flake8]
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
extend-ignore = [
    # See https://github.com/PyCQA/pycodestyle/issues/373
    "E203",
]
per-file-ignores = [
  # imported but unused
  "__init__.py:F401",
  # comparison to True should be 'if cond is True:' or 'if cond:'
  "tests/*:E712",
]
exclude = [
  "__pypackages__",
  "build",
  "dist",
]

[tool.isort]
profile = "black"
atomic = true
filter_files = true

[tool.pytest.ini_options]
addopts = "-ra --ignore=__pypackages__"

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"
